bin/Debug/net7.0/program.dll
bin/Debug/net7.0/program.pdb
obj/Debug/net7.0/program.dll
obj/Debug/net7.0/program.pdb
bin/Debug/net7.0/program.dll
bin/Debug/net7.0/program.pdb
obj/program.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/program.assets.cache
obj/Debug/net7.0/program.dll
obj/Debug/net7.0/program.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/program.genruntimeconfig.cache
obj/Debug/net7.0/program.pdb
